
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary float-right m-2" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"
>
    Add Task
  </button> -->
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-edit-task [tsk]="tsk" *ngIf="ActivateAddEdittaskComp">
            </app-add-edit-task>
        </div>
      </div>
    </div>
  </div> -->


<table class="table table-striped">
    <thead>
        <tr>
            <th>TaskId</th>
            <th>Task</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let dataItem of List">
         <td style="padding-top:18px;">{{dataItem.Id}}</td>
         <td style="padding-top: 18px;">{{dataItem.Task}}</td>  
         <td>
            <button type="button" class="btn btn-light m-1" (click)="alter(dataItem.Id)">Edit</button>
            <button type="button" (click)="deleteclick(dataItem)" class="btn btn-light m-1">Delete</button>
         </td>
    </tr>
    </tbody>
</table>